@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Merriweather:300|Source+Code+Pro");
pre,
.highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.highlight .gutter pre,
.gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
pre,
code {
  font-family: 'Source Code Pro', monospace;
}
pre *,
code * {
  font-family: 'Source Code Pro', monospace;
}
code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.highlight {
  margin-bottom: 1rem;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.highlight .line {
  height: 22.400000000000002px;
}
.highlight .line.marked {
  background: #515151;
}
.gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.gist .gist-file {
  border: none;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}
.gist .gist-file * {
  font-family: 'Source Code Pro', monospace;
}
.gist .gist-file .gist-data {
  background: none;
  border: none;
}
.gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.post-preview {
  margin-bottom: 4rem;
}
.post-preview .post-preview-date {
  color: #999;
  margin: 0;
}
.post-preview .post-preview-title {
  margin-top: 0;
}
.post-preview .post-preview-category {
  font-family: 'Merriweather', serif;
  font-size: 0.6em;
  margin-left: 0.25rem;
}
.post-preview .post-preview-category * {
  font-weight: normal;
}
.post-preview .post-preview-category .post-preview-bullet {
  color: #999;
}
.post-preview .post-preview-category .post-preview-link {
  color: #555;
}
.post-preview-group {
  display: none;
}
.post-preview-group.active {
  display: block;
}
.post-preview-banner {
  border-radius: 0;
  height: 100px;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}
.post-preview-banner img {
  border-radius: 0;
  height: auto;
  position: relative;
  width: 100%;
}
.post-preview-banner-html img {
  top: -120px;
}
a.get-post {
  background-color: #f4f4f4;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}
a.get-post:hover {
  background-color: #ddd;
  text-decoration: none;
}
.post-date {
  color: #aaa;
  font-style: italic;
  text-align: center;
}
* {
  border-radius: 4px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #333;
}
body {
  font-size: 20px;
  line-height: 1.5;
}
h1,
h1 * {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}
h1,
h1 a,
h2,
h2 a {
  text-decoration: none;
  color: #333;
}
h1 a:hover,
h1 a:hover * {
  color: #0076df;
}
h2,
h2 *,
h3,
h3 *,
h4,
h4 * {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
}
a {
  color: #0076df;
  cursor: pointer;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}
li {
  margin-bottom: 0.25rem;
}
hr {
  background-color: #ccc;
  border: none;
  height: 2px;
  margin: 2rem auto;
  width: 4rem;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  overflow: hidden;
}
.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  overflow: hidden;
}
.red {
  color: #f00;
}
.green {
  color: #008000;
}
.cloak {
  display: none;
}
#header {
  text-align: center;
}
#title {
  margin: 4rem 0 1rem 0;
}
#title a {
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;
}
#title a:hover {
  color: #0076df;
}
#subtitle {
  color: #666;
  margin-bottom: 4rem;
}
#navigation {
  text-align: center;
  margin: 10rem 0;
}
#navigation a {
  border-left: 1px solid #e4e4e4;
  color: inherit;
  padding: 1rem 3rem;
  text-decoration: none;
}
#navigation a:first-child {
  border-left: none;
}
#navigation a:hover {
  background-color: #e4e4e4;
}
#navigation a.active {
  background-color: #e4e4e4;
}
#footer {
  margin: 4rem 0;
  text-align: center;
}
#footer hr {
  margin: 8rem auto;
}
.page-welcome h2:first-child {
  margin-top: 0;
}
